@extends('layout.layout') @section('title', 'LegoLoft | website lego')
@section('content')
<!-- START BANNER -->
<div class="">
    <div class="banner_home">
        <div class="banner_home_image">
            <img src="img/banner-home-1.webp" alt="" />
        </div>
        <div class="banner_home_text">
            <div class="banner_home_text_logo">
                <img src="img/logo-ngang.png" alt="" />
            </div>
            <h2 class="banner_home_text_h2">Đặt hàng trước bộ LEGO</h2>
            <span class="banner_home_text_span"
                >Cho đến khi hết hàng giao từ ngày 30/8</span
            >
            <a href="" class="banner_home_text_btn"
                >Mua ngay <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
    </div>
    <div class="banner_home_mobile">
        <div class="banner_home_mobile_image">
            <img src="img/banner-home-mobile-1.webp" alt="" />
        </div>

        <div class="banner_home_mobile_text">
            <h2 class="banner_home_mobile_text_h2">Đặt hàng trước bộ LEGO</h2>
            <span class="banner_home_mobile_text_span"
                >Cho đến khi hết hàng giao từ ngày 30/8</span
            >
            <a href="" class="banner_home_mobile_text_btn"
                >Mua ngay <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- END BANNER -->

<div class="background_home">
    <!-- START CATEGORY -->
    <div class="container">
        <div class="image_category">
            <ul class="image_category_ul">
                <li class="">
                    <a href="" class="text-decoration-none">
                        <img src="img/category-1.webp" alt="" />
                        <div class="image_category_span">
                            <span>Tốc độ</span>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a href="" class="text-decoration-none">
                        <img src="img/category-1.webp" alt="" />
                        <div class="image_category_span">
                            <span>Tốc độ</span>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a href="" class="text-decoration-none">
                        <img src="img/category-1.webp" alt="" />
                        <div class="image_category_span">
                            <span>Tốc độ</span>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a href="" class="text-decoration-none">
                        <img src="img/category-1.webp" alt="" />
                        <div class="image_category_span">
                            <span>Tốc độ</span>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a href="" class="text-decoration-none">
                        <img src="img/category-1.webp" alt="" />
                        <div class="image_category_span">
                            <span>Tốc độ</span>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a href="" class="text-decoration-none">
                        <img src="img/category-1.webp" alt="" />
                        <div class="image_category_span">
                            <span>Tốc độ</span>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a href="" class="text-decoration-none">
                        <img src="img/category-1.webp" alt="" />
                        <div class="image_category_span">
                            <span>Tốc độ</span>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a href="" class="text-decoration-none">
                        <img src="img/category-1.webp" alt="" />
                        <div class="image_category_span">
                            <span>Tốc độ</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END CATEGORY -->

    <!-- START LỰA CHỌN -->
    <section class="product">
        <div class="container">
            <div class="title_home">
                <h2>Những lựa chọn hàng đầu trong tuần này</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card_box">
                        <div class="card_box_img">
                            <img src="img/box_choice_1.webp" alt="" />
                        </div>
                        <div class="card_box_content">
                            <h3>Đặt hàng trước bộ LEGO® Fortnite mới</h3>
                            <p>Cho đến khi hết hàng. Giao hàng từ ngày 10/1.</p>
                        </div>
                        <div class="card_box_btn">
                            <a href="">Đặt hàng trước </a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card_box">
                        <div class="card_box_img">
                            <img src="img/box_choice_1.webp" alt="" />
                        </div>
                        <div class="card_box_content">
                            <h3>Đặt hàng trước bộ LEGO® Fortnite mới</h3>
                            <p>Cho đến khi hết hàng. Giao hàng từ ngày 10/1.</p>
                        </div>
                        <div class="card_box_btn">
                            <a href="">Đặt hàng trước </a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card_box">
                        <div class="card_box_img">
                            <img src="img/box_choice_1.webp" alt="" />
                        </div>
                        <div class="card_box_content">
                            <h3>Đặt hàng trước bộ LEGO® Fortnite mới</h3>
                            <p>Cho đến khi hết hàng. Giao hàng từ ngày 10/1.</p>
                        </div>
                        <div class="card_box_btn">
                            <a href="">Đặt hàng trước </a>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END LỰA CHỌN -->

    <!-- START PRODUCT NỔI BẬT -->
    <section class="product">
        <div class="container">
            <div class="title_home">
                <h2>Sản phẩm nổi bật</h2>
            </div>
            <div class="owl-carousel owl-theme">
                @foreach ($productOutStanding as $item) @php $userGroupDiscount
                = 0; $userPriceModal = 0; if ($user && Auth::check()) { // giá
                giảm nhóm người dùng đã đăng nhập // truy cập vào table user lấy
                ra user_group_id, để biết khách hàng đang thuốc nhóm nào(đồng,
                bạc, vàng) $userGroupId = $user->user_group_id; //$item biến đại
                diện cho từng sản phẩm, và các giảm giá liên quan đến sản phẩm
                đó, và lọc giá giảm theo nhóm người dùng cụ thể
                $userGroupDiscount = $item->productDiscount
                ->where('user_group_id', $userGroupId) ->first(); // dùng để lấy
                được giá cho modal $userPriceModal = $userGroupDiscount ?
                $userGroupDiscount->price : null; } else { // giá giảm nhóm
                người dùng không cần đăng nhập // $userGroupDefaultDiscount biến
                này đã đucợ xử lí bên controller và model nên chỉ cần gọi biến
                qua đây $userGroupDefaultDiscount =
                $item->productDiscount->first(); // ràng buộc giá default mặc
                định $userPriceModal = $userGroupDefaultDiscount ?
                $userGroupDefaultDiscount->price : null; } // tính % giảm giá
                $percent = ceil((($item->price - $userPriceModal) /
                $item->price) * 100); $productImageCollect =
                $item->productImage->pluck('images'); // pluck lấy một tập hợp
                các giá trị của trường cụ thể @endphp
                <div class="item">
                    <div class="product_box">
                        <div class="product_box_effect">
                            <div class="product_box_tag">Nổi bật</div>
                            @if (isset($userGroupDiscount) &&
                            isset($userGroupDefaultDiscount))
                            <div class="product_box_tag_sale_outstanding">
                                {{ $percent }}%
                            </div>
                            @endif
                            <div class="product_box_icon">
                                <i class="fa-regular fa-heart"></i>
                                <button
                                    type="button"
                                    class="outline-0 border-0"
                                    style="background-color: transparent"
                                    onclick="showModalProduct(event,'{{ $item->id }}','{{ $item->image }}','{{ $item->name }}','{{ $item->price }}','{{ $userPriceModal }}','{{ json_encode($productImageCollect) }}')"
                                >
                                    <i class="fa-regular fa-eye"></i>
                                </button>
                                {{-- truyền vào id sản phẩm và số lượng cần
                                thêm,user_id server láy từ sesion --}}
                                <button
                                    type="button"
                                    onclick="addToCart('{{ $item->id }}', 1)"
                                    class="outline-0 border-0"
                                    style="background-color: transparent"
                                >
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </button>
                            </div>
                            <div class="product_box_image">
                                <img
                                    src="{{ asset('img/' . $item->image) }}"
                                    alt=""
                                />
                            </div>
                            <div class="product_box_content_out">
                                <div class="product_box_content">
                                    <h3><a href="">{{ $item->name }}</a></h3>
                                </div>
                                @if ($user && Auth::check()) @if
                                ($userGroupDiscount)
                                <div class="product_box_price">
                                    <span
                                        >{{ number_format($item->price, 0, ',',
                                        '.') . 'đ' }}</span
                                    >{{ number_format($userGroupDiscount->price,
                                    0, ',', '.') . 'đ' }}
                                </div>
                                @else
                                <div class="product_box_price">
                                    <span></span>{{ number_format($item->price,
                                    0, ',', '.') . 'đ' }}
                                </div>
                                @endif @else @if ($userGroupDefaultDiscount)
                                <div class="product_box_price">
                                    <span
                                        >{{ number_format($item->price, 0, ',',
                                        '.') . 'đ' }}</span
                                    >{{
                                    number_format($userGroupDefaultDiscount->price,
                                    0, ',', '.') . 'đ' }}
                                </div>
                                @else
                                <div class="product_box_price">
                                    <span></span>{{ number_format($item->price,
                                    0, ',', '.') . 'đ' }}
                                </div>
                                @endif @endif
                            </div>
                        </div>
                    </div>
                </div>
                @endforeach
            </div>
        </div>
    </section>
    <!-- END PRODUCT NỔI BẬT -->

    <!-- START PRODUCT GIẢM GIÁ -->
    <section class="product">
        <div class="container">
            <div class="title_home">
                <h2>Sản phẩm giảm giá</h2>
            </div>
            <div class="owl-carousel owl-theme">
                @foreach ($productDiscountSection as $item) @php $percent =
                ceil((($item->products->price - $item->price) /
                $item->products->price) * 100); $productImageCollect =
                $item->products->productImage->pluck('images'); // pluck lấy một
                tập hợp các giá trị của trường cụ thể @endphp
                <div class="item">
                    <div class="product_box">
                        <div class="product_box_effect">
                            <div class="product_box_tag_sale">
                                {{ $percent }}%
                            </div>
                            <div class="product_box_icon">
                                <i class="fa-regular fa-heart"></i>
                                <button
                                    class="outline-0 border-0"
                                    style="background-color: transparent"
                                    onclick="showModalProduct(event,'{{ $item->product_id }}','{{ $item->products->image }}','{{ $item->products->name }}','{{ $item->products->price }}','{{ $item->price }}','{{ json_encode($productImageCollect) }}')"
                                >
                                    <i class="fa-regular fa-eye"></i>
                                </button>
                                {{-- truyền vào id sản phẩm và số lượng cần
                                thêm,user_id server láy từ sesion --}}
                                <button
                                    type="button"
                                    onclick="addToCart('{{ $item->product_id }}', 1)"
                                    class="outline-0 border-0"
                                    style="background-color: transparent"
                                >
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </button>
                            </div>

                            <div class="product_box_image">
                                <img
                                    src="{{ asset('img/' . $item->products->image) }}"
                                    alt=""
                                />
                            </div>
                            <div class="product_box_content_out">
                                <div class="product_box_content">
                                    <h3>
                                        <a href=""
                                            >{{ $item->products->name }}</a
                                        >
                                    </h3>
                                </div>
                                @if (Auth::check())
                                <div class="product_box_price">
                                    <span
                                        >{{
                                        number_format($item->products->price, 0,
                                        ',', '.') . 'đ' }}</span
                                    >{{ number_format($item->price, 0, ',', '.')
                                    . 'đ' }}
                                </div>
                                @else
                                <div class="product_box_price">
                                    <span
                                        >{{
                                        number_format($item->products->price, 0,
                                        ',', '.') . 'đ' }}</span
                                    >{{ number_format($item->price, 0, ',', '.')
                                    . 'đ' }}
                                </div>
                                @endif
                            </div>
                        </div>
                    </div>
                </div>
                @endforeach
            </div>
        </div>
    </section>
    <!-- END PRODUCT GIẢM GIÁ  -->

    <div class="banner_home_main">
        <div class="banner_home_theme">
            <div class="banner_home_theme_main">
                <img src="img/banner-category-home.webp" alt="" />
            </div>
            <div class="banner_home_theme_content">
                <h2>Phép thuật ở mọi lứa tuổi</h2>
                <span
                    >Khám phá bộ sản phẩm LEGO® | Disney mới dành cho trẻ em và
                    những người có tâm hồn trẻ thơ.</span
                >
                <a href="" class=""
                    >Mua ngay <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="banner_home_theme_mobile">
            <div class="banner_home_theme_main_mobile">
                <img src="img/banner_category_home_mobie.webp" alt="" />
            </div>
            <div class="banner_home_theme_content_mobile">
                <h2>Phép thuật ở mọi lứa tuổi</h2>
                <span
                    >Khám phá bộ sản phẩm LEGO® | Disney mới dành cho trẻ em và
                    những người có tâm hồn trẻ thơ.</span
                >
                <a href="" class=""
                    >Mua ngay <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    @foreach ($categories as $category) @if ($category->status == 1) @foreach
    ($category->categories_children as $item) @if ($item->status == 1)
    <section class="section_product_theme">
        <div class="container">
            <div class="title_home">
                <h2>{{ $item->name }}</h2>
            </div>
            <div class="owl-carousel owl-theme">
                @if (isset($productByCategory[$item->id])) @foreach
                ($productByCategory[$item->id] as $product) @php
                $userGroupDiscount = 0; $userPriceModal = 0; if ($user &&
                Auth::check()) { // giá giảm nhóm người dùng đã đăng nhập //
                truy cập vào table user lấy ra user_group_id, để biết khách hàng
                đang thuốc nhóm nào(đồng, bạc, vàng) $userGroupId =
                $user->user_group_id; //$item biến đại diện cho từng sản phẩm,
                và các giảm giá liên quan đến sản phẩm đó, và lọc giá giảm theo
                nhóm người dùng cụ thể $userGroupDiscount =
                $product->productDiscount ->where('user_group_id', $userGroupId)
                ->first(); // dùng để lấy được giá cho modal $userPriceModal =
                $userGroupDiscount ? $userGroupDiscount->price : null; } else {
                // giá giảm nhóm người dùng không cần đăng nhập //
                $userGroupDefaultDiscount biến này đã đucợ xử lí bên controller
                và model nên chỉ cần gọi biến qua đây $userGroupDefaultDiscount
                = $product->productDiscount->first(); // ràng buộc giá default
                mặc định $userPriceModal = $userGroupDefaultDiscount ?
                $userGroupDefaultDiscount->price : null; } // tính % giảm giá
                $percent = ceil( (($product->price - $userPriceModal) /
                $product->price) * 100, ); $productImageCollect =
                $product->productImage->pluck('images'); // pluck lấy một tập
                hợp các giá trị của trường cụ thể @endphp
                <div class="item">
                    <div class="product_box">
                        <div class="product_box_effect">
                            @if (isset($userGroupDiscount) &&
                            isset($userGroupDefaultDiscount))
                            <div class="product_box_tag_sale">
                                {{ $percent }}%
                            </div>
                            @endif
                            <div class="product_box_icon">
                                <i class="fa-regular fa-heart"></i>
                                <button
                                    class="outline-0 border-0"
                                    style="background-color: transparent"
                                    onclick="showModalProduct(event,'{{ $product->id }}','{{ $product->image }}','{{ $product->name }}','{{ $product->price }}','{{ $userPriceModal }}','{{ json_encode($productImageCollect) }}')"
                                >
                                    <i class="fa-regular fa-eye"></i>
                                </button>
                                {{-- truyền vào id sản phẩm và số lượng cần
                                thêm,user_id server láy từ sesion --}}
                                <button
                                    type="button"
                                    onclick="addToCart('{{ $product->id }}', 1)"
                                    class="outline-0 border-0"
                                    style="background-color: transparent"
                                >
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </button>
                            </div>
                            <div class="product_box_image">
                                <img
                                    src="{{ asset('img/' . $product->image) }}"
                                    alt="{{ $product->name }}"
                                />
                            </div>
                            <div class="product_box_content_out">
                                <div class="product_box_content">
                                    <h3><a href="">{{ $product->name }}</a></h3>
                                </div>
                                @if ($user && Auth::check()) @if
                                ($userGroupDiscount)
                                <div class="product_box_price">
                                    <span
                                        >{{ number_format($product->price, 0,
                                        ',', '.') . 'đ' }}</span
                                    >{{ number_format($userGroupDiscount->price,
                                    0, ',', '.') . 'đ' }}
                                </div>
                                @else
                                <div class="product_box_price">
                                    <span></span>{{
                                    number_format($product->price, 0, ',', '.')
                                    . 'đ' }}
                                </div>
                                @endif @else @if ($userGroupDefaultDiscount)
                                <div class="product_box_price">
                                    <span
                                        >{{ number_format($product->price, 0,
                                        ',', '.') . 'đ' }}</span
                                    >{{
                                    number_format($userGroupDefaultDiscount->price,
                                    0, ',', '.') . 'đ' }}
                                </div>
                                @else
                                <div class="product_box_price">
                                    <span></span>{{
                                    number_format($product->price, 0, ',', '.')
                                    . 'đ' }}
                                </div>
                                @endif @endif
                            </div>
                        </div>
                    </div>
                </div>
                @endforeach @endif
            </div>
        </div>
    </section>
    @endif @endforeach @endif @endforeach

    <!-- START PRODUCT BÁN CHẠY -->
    <section class="product">
        <div class="container">
            <div class="title_home">
                <h2>Sản phẩm bán chạy</h2>
            </div>
            <div class="owl-carousel owl-theme">
                @foreach ($productBestseller as $item) @php $userGroupDiscount =
                0; $userPriceModal = 0; if ($user && Auth::check()) { // giá
                giảm nhóm người dùng đã đăng nhập // truy cập vào table user lấy
                ra user_group_id, để biết khách hàng đang thuốc nhóm nào(đồng,
                bạc, vàng) $userGroupId = $user->user_group_id; //$item biến đại
                diện cho từng sản phẩm, và các giảm giá liên quan đến sản phẩm
                đó, và lọc giá giảm theo nhóm người dùng cụ thể
                $userGroupDiscount = $item->productDiscount
                ->where('user_group_id', $userGroupId) ->first(); // dùng để lấy
                được giá cho modal $userPriceModal = $userGroupDiscount ?
                $userGroupDiscount->price : null; } else { // giá giảm nhóm
                người dùng không cần đăng nhập // $userGroupDefaultDiscount biến
                này đã đucợ xử lí bên controller và model nên chỉ cần gọi biến
                qua đây $userGroupDefaultDiscount =
                $item->productDiscount->first(); // ràng buộc giá default mặc
                định $userPriceModal = $userGroupDefaultDiscount ?
                $userGroupDefaultDiscount->price : null; } // tính % giảm giá
                $percent = ceil((($item->price - $userPriceModal) /
                $item->price) * 100); $productImageCollect =
                $item->productImage->pluck('images'); // pluck lấy một tập hợp
                các giá trị của trường cụ thể @endphp
                <div class="item">
                    <div class="product_box">
                        <div class="product_box_effect">
                            <div class="product_box_tag_soldout">Hot</div>
                            @if (isset($userGroupDiscount) &&
                            isset($userGroupDefaultDiscount))
                            <div class="product_box_tag_sale_outstanding">
                                {{ $percent }}%
                            </div>
                            @endif
                            <div class="product_box_icon">
                                <i class="fa-regular fa-heart"></i>
                                <button
                                    class="outline-0 border-0"
                                    style="background-color: transparent"
                                    onclick="showModalProduct(event,'{{ $item->id }}','{{ $item->image }}','{{ $item->name }}','{{ $item->price }}','{{ $userPriceModal }}','{{ json_encode($productImageCollect) }}')"
                                >
                                    <i class="fa-regular fa-eye"></i>
                                </button>
                                {{-- truyền vào id sản phẩm và số lượng cần
                                thêm,user_id server láy từ sesion --}}
                                <button
                                    type="button"
                                    onclick="addToCart('{{ $item->id }}', 1)"
                                    class="outline-0 border-0"
                                    style="background-color: transparent"
                                >
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </button>
                            </div>
                            <div class="product_box_image">
                                <img
                                    src="{{ asset('img/' . $item->image) }}"
                                    alt=""
                                />
                            </div>
                            <div class="product_box_content_out">
                                <div class="product_box_content">
                                    <h3><a href="">{{ $item->name }}</a></h3>
                                </div>
                                @if ($user && Auth::check()) @if
                                ($userGroupDiscount)
                                <div class="product_box_price">
                                    <span
                                        >{{ number_format($item->price, 0, ',',
                                        '.') . 'đ' }}</span
                                    >{{ number_format($userGroupDiscount->price,
                                    0, ',', '.') . 'đ' }}
                                </div>
                                @else
                                <div class="product_box_price">
                                    <span></span>{{ number_format($item->price,
                                    0, ',', '.') . 'đ' }}
                                </div>
                                @endif @else @if ($userGroupDefaultDiscount)
                                <div class="product_box_price">
                                    <span
                                        >{{ number_format($item->price, 0, ',',
                                        '.') . 'đ' }}</span
                                    >{{
                                    number_format($userGroupDefaultDiscount->price,
                                    0, ',', '.') . 'đ' }}
                                </div>
                                @else
                                <div class="product_box_price">
                                    <span></span>{{ number_format($item->price,
                                    0, ',', '.') . 'đ' }}
                                </div>
                                @endif @endif
                                <div class="product_box_content_soldout">
                                    <p>
                                        +{{ $item->orderProduct->sum('quantity')
                                        }} Lượt mua
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @endforeach
            </div>
        </div>
    </section>
    <!-- END PRODUCT BÁN CHÁY-->

    <!-- START PRODUCT HẾT HÀNG -->
    @if ($productSoldOut && count($productSoldOut) > 0)
    <section class="product">
        <div class="container">
            <div class="title_home">
                <h2>Sản phẩm hết hàng</h2>
            </div>
            <div class="owl-carousel owl-theme">
                @foreach ($productSoldOut as $item)
                <div class="item">
                    <div class="product_box">
                        <div class="product_box_effect">
                            <div class="product_box_tag_soldout">Hết hàng</div>
                            <div class="product_box_image_black">
                                <img
                                    src="{{ asset('img/' . $item->image) }}"
                                    alt=""
                                />
                            </div>
                            <div class="product_box_content_out">
                                <div class="product_box_content">
                                    <h3><a href="">{{ $item->name }}</a></h3>
                                </div>
                                <div class="">
                                    <span class="text-black"
                                        >{{ number_format($item->price, 0, ',',
                                        '.') . 'đ' }}</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @endforeach
            </div>
        </div>
    </section>
    @endif

    <!-- END PRODUCT HẾT HÀNG -->

    <!-- START BÀI VIẾT -->
    <section>
        <div class="container">
            <div class="title_btn_blog">
                <div class="title_home_blog">
                    <h2>Đọc tất cả về nó</h2>
                </div>
                <div class="btn_home_blog">
                    <a href="">Xem tất cả bài viết</a>
                </div>
            </div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="blog_box">
                        <div class="blog_box_effect">
                            <div class="blog_box_image">
                                <img src="img/image_blog_1.webp" alt="" />
                            </div>
                            <div class="blog_box_content_out">
                                <div class="blog_box_content">
                                    <h3>
                                        <a href=""
                                            >Khám phá bộ LEGO® Technic™ McLaren
                                            P1™</a
                                        >
                                    </h3>
                                    <span
                                        >Một trong những chiếc xe được săn đón
                                        nhiều nhất trên thế giới hiện là một bộ
                                        LEGO®. Hãy cùng chúng tôi xem xét kỹ hơn
                                        siêu xe LEGO Technic™ McLaren P1™
                                        mới.</span
                                    >
                                    <a href=""
                                        >Đọc thêm
                                        <i class="fa-solid fa-chevron-right"></i
                                    ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="blog_box">
                        <div class="blog_box_effect">
                            <div class="blog_box_image">
                                <img src="img/image_blog_1.webp" alt="" />
                            </div>
                            <div class="blog_box_content_out">
                                <div class="blog_box_content">
                                    <h3>
                                        <a href=""
                                            >Khám phá bộ LEGO® Technic™ McLaren
                                            P1™</a
                                        >
                                    </h3>
                                    <span
                                        >Một trong những chiếc xe được săn đón
                                        nhiều nhất trên thế giới hiện là một bộ
                                        LEGO®. Hãy cùng chúng tôi xem xét kỹ hơn
                                        siêu xe LEGO Technic™ McLaren P1™
                                        mới.</span
                                    >
                                    <a href=""
                                        >Đọc thêm
                                        <i class="fa-solid fa-chevron-right"></i
                                    ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="blog_box">
                        <div class="blog_box_effect">
                            <div class="blog_box_image">
                                <img src="img/image_blog_1.webp" alt="" />
                            </div>
                            <div class="blog_box_content_out">
                                <div class="blog_box_content">
                                    <h3>
                                        <a href=""
                                            >Khám phá bộ LEGO® Technic™ McLaren
                                            P1™</a
                                        >
                                    </h3>
                                    <span
                                        >Một trong những chiếc xe được săn đón
                                        nhiều nhất trên thế giới hiện là một bộ
                                        LEGO®. Hãy cùng chúng tôi xem xét kỹ hơn
                                        siêu xe LEGO Technic™ McLaren P1™
                                        mới.</span
                                    >
                                    <a href=""
                                        >Đọc thêm
                                        <i class="fa-solid fa-chevron-right"></i
                                    ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="blog_box">
                        <div class="blog_box_effect">
                            <div class="blog_box_image">
                                <img src="img/image_blog_1.webp" alt="" />
                            </div>
                            <div class="blog_box_content_out">
                                <div class="blog_box_content">
                                    <h3>
                                        <a href=""
                                            >Khám phá bộ LEGO® Technic™ McLaren
                                            P1™</a
                                        >
                                    </h3>
                                    <span
                                        >Một trong những chiếc xe được săn đón
                                        nhiều nhất trên thế giới hiện là một bộ
                                        LEGO®. Hãy cùng chúng tôi xem xét kỹ hơn
                                        siêu xe LEGO Technic™ McLaren P1™
                                        mới.</span
                                    >
                                    <a href=""
                                        >Đọc thêm
                                        <i class="fa-solid fa-chevron-right"></i
                                    ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BÀI VIẾT -->

    <div id="modal_home" class="modal_product_main"></div>
</div>

@endsection
<?php

namespace App\Http\Controllers;

use App\Models\Product;
use App\Models\UserGroup;
use App\Models\Categories;
use App\Models\OrderProduct;
use Illuminate\Http\Request;
use App\Models\ProductDiscount;
use Illuminate\Support\Facades\Auth;

class HomeController extends Controller
{
    private $productModel;
    private $userGroupModel;
    private $productDiscountModel;
    private $orderProduct;


    public function __construct()
    {
        $this->productModel = new Product(); $this->userGroupModel = new
UserGroup(); $this->productDiscountModel = new ProductDiscount();
$this->orderProduct = new OrderProduct(); } public function index() {
$productOutStanding = $this->productModel->productOutStanding();
//$productDiscountSection = $this->productModel->productDiscountSection();
$productBestseller = $this->productModel->productBestseller(); $productSoldOut =
$this->productModel->productSoldOut(); // Lấy danh sách các danh mục chính và
danh mục con $categories = Categories::with(['categories_children',
'categories_children.product'])->whereNull('parent_id')->get();
$productByCategory = []; //tạo mảng để lưu trữ sản phẩm theo danh mục con
foreach ($categories as $category) { //Duyệt qua từng danh mục cha foreach
($category->categories_children as $child) { // Duyệt qua từng danh mục con của
danh mục cha hiện tại //$child đại diện cho một danh mục con của danh mục cha
hiện tại. // Lưu trữ sản phẩm cho từng danh mục con
$productByCategory[$child->id] = $child->product; } } // $user = auth()->user();
$userGroupDefaultDiscount =
$this->productDiscountModel->userGroupDefaultDiscount(); $productDiscountSection
= $this->productDiscountModel->productDiscountSection($user ?
$user->user_group_id : 1); return view('home', compact('productOutStanding',
'userGroupDefaultDiscount', 'productDiscountSection', 'categories',
'productBestseller', 'productByCategory', 'user', 'productSoldOut')); } }
